<!DOCTYPE html>
<html dir="rtl">
<head>
<title></title>
<meta charset="utf-8" />
{% load static %}
{% load filters %}

<!-- UIkit CSS -->
<link rel="stylesheet" href="{% static 'webservice/uikit-rtl.min.css' %}" />
<link rel="stylesheet" href="{% static 'webservice/menu.css' %}" />

<!-- jQuery is required -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>

<script src="{% static 'webservice/menu.js' %}"></script>

<style>
html {
	background: url(" {% static 'webservice/images/background.jpg' %}") fixed;
}
</style>
</head>
<body>
<div class="uk-padding-small">

	<div class="uk-text-center uk-text-large" uk-alert>
	    <p>תפריט היום - <strong>{{ today_date }}</strong></p>
	</div>

	<form method="POST" action="">
		<input type="text" name="Username" />
		<input type="submit" value="שלח" />
	</form>
</div>
</body>
</html>