<!DOCTYPE html>
<html dir="rtl">
<head>
<title></title>
<meta charset="utf-8" />
{% load static %}
{% load filters %}

<!-- UIkit CSS -->
<link rel="stylesheet" href="{% static 'webservice/uikit-rtl.min.css' %}" />
<link rel="stylesheet" href="{% static 'webservice/menu.css' %}" />

<!-- jQuery is required -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>

	<script type="text/javascript">
		var Username = '{{ username }}'
	</script>
<script src="{% static 'webservice/menu.js' %}"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "e0ce05a9-e349-4ebb-8911-4b19e5c9bb80",
      autoRegister: false, /* Set to true to automatically prompt visitors */
      httpPermissionRequest: {
        enable: true
      },
      notifyButton: {
          enable: true /* Set to false to hide */
      }
    }]);
  </script>

<style>
html {
	background: url(" {% static 'webservice/images/background.jpg' %}") fixed;
}
</style>
</head>
<body>
<div class="uk-padding-small">

	<div class="uk-text-center uk-text-large" uk-alert>
	    <p>תפריט היום - <strong>{{ today_date }}</strong></p>
	</div>

	<ul class="uk-background-muted uk-padding-small uk-panel" uk-accordion="multiple: true; active: 0">
	    {% for category, items in categories.items %}
		<li>
	        <h3 class="uk-accordion-title uk-padding-small uk-background-secondary uk-light">{{ category }}</h3>
	        <div class="uk-accordion-content">
	        	<dl class="uk-description-list uk-padding-small uk-description-list-divider">
					{% for item in items %}
				    <dt data-dish-id='{{ item.id }}'>{{ item.name }}
					<p class="share-icons" style="opacity: 1; display: block;">
						<span class="count"><span></span></span>
						<span class="list">
									<strong>👅</strong>
									{% for choice in vote_choices %}
										<a data-reaction-id="{{ choice.0 }}" class="reaction-{{ choice.0 }}"
										   title="{{ choice.1.0 }}" uk-tooltip>{{ choice.1.2 }}</a>
									{% endfor %}
						</span>
					</p>

						<span class='current-reactions'>
							{% for choice in vote_choices %}
								<span data-reaction-id='{{ choice.0 }}'
									  class='reaction-{{ choice.0 }}'{% ifequal 0 votes|getitem:item.id|getitem:choice.0 %}style="display:none"{% endifequal %}>
									<strong>{{ choice.1.2 }}</strong><em>{{ votes | getitem:item.id | getitem:choice.0 }}</em>
								</span>
							{% endfor %}
						</span>
					</dt>
				    <dd>{{ item.short_desc }}</dd>
					{% endfor %}
				</dl>
	        </div>
        </li>
		{% endfor %}
	</ul>
</div>
</body>
</html>