{% extends "webservice/user_page_template.html" %}

{% load static %}
{% load filters %}


{% block css %}
<link rel="stylesheet" href="{% static 'webservice/menu.css' %}" />
<title>התפריט היומי</title>

<style>
html {
	background: url(" {% static 'webservice/images/background.jpg' %}") fixed;
}

nav[uk-navbar] {
	height: 50px!important;
}

.navbar-container-header, nav[uk-navbar], nav[uk-navbar] > div {
	background:#222!important;
}
nav[uk-navbar] img {
	width: auto!important;
	height: auto!important;
}
</style>

{% endblock %}

{% block js %}
<script type="text/javascript">
	var $username = '{{ username }}';
	var $dateString = '{{ today_date }}';
</script>
<script src="{% static 'webservice/menu.js' %}"></script>

{% endblock %}
{% block navbar_user_context %}
    <div class='uk-navbar-item'>מחובר כ-{{ username }}</div>
    <!--<a href="/webservice/logout" uk-icon="icon: sign-out" class='uk-navbar-item'></a>-->
{% endblock %}

{% block contents %}
	<ul class="uk-background-muted uk-padding-small uk-panel" uk-accordion="multiple: true; active: 0">
	    {% for category, items in categories.items %}
		<li>
	        <h3 class="uk-accordion-title uk-padding-small uk-background-secondary uk-light">{{ category }}</h3>
	        <div class="uk-accordion-content">
	        	<dl class="uk-description-list uk-padding-small uk-description-list-divider">
					{% for item in items %}
				    <dt data-dish-id='{{ item.id }}'>{{ item.name }}
					<p class="share-icons" style="opacity: 1; display: block;">
						<span class="count"><span></span></span>
						<span class="list">
									<strong>👅</strong>
									{% for choice in vote_choices %}
										<a data-reaction-id="{{ choice.0 }}" class="reaction-{{ choice.0 }}"
										   title="{{ choice.1.0 }}" uk-tooltip>{{ choice.1.2 }}</a>
									{% endfor %}
						</span>
					</p>

						<span class='current-reactions'>
							{% for choice in vote_choices %}
								<span data-reaction-id='{{ choice.0 }}'
									  class='reaction-{{ choice.0 }}'{% ifequal 0 votes|getitem:item.id|getitem:choice.0 %}style="display:none"{% endifequal %}>
									<strong>{{ choice.1.2 }}</strong><em>{{ votes | getitem:item.id | getitem:choice.0 }}</em>
								</span>
							{% endfor %}
						</span>
					</dt>
				    <dd>{{ item.short_desc }}</dd>
					{% endfor %}
				</dl>
	        </div>
        </li>
		{% endfor %}
	</ul>
{% endblock %}