<html>
{% load static %}
{% load filters %}

<head>
	<meta charset="UTF-8" />
	<title>תפריט חדר אוכל - {{ today_date }}</title>
	<style>
		body {
			direction: rtl;
			text-align: center;
		}
		
		table {
			width: 80%;
			margin: 0 auto;
		}
		
		table td, table th, table td, table {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h1>תפריט חדר אוכל - {{ today_date }}</h1>
	<table>
		
		<tr>
			<th colspan="3"><h2 style="margin: 0; padding: 0;">ארוחת בוקר</h2></th>
		</tr>
		<tr>
			<th style="width: 20%;">שם</td>
			<th style="width: 30%;">תיאור</th>
			<th>מתכון</th>
		</th>
		{% for dish in dishes %}
		<tr>
			<td>{{ dish.name }}</td>
			<td>{{ dish.short_desc }}</td>
			<td>{{ dish.recipe }}</td>
		</tr>
		{% endfor %}
	</table>
	<script type="text/javascript">
		window.onload = function() { window.print(); }
	</script>
</body>
</html>