html {
	background: url(background.jpg) fixed;
}

.share-icons
{
        position: relative;
        direction: ltr;
	margin: 0;
}
.share-icons > span
{
	text-align: left;
        position: absolute;
        top: 30pt;
        left: 30pt;
}
.share-icons .count
{
	position: absolute;
	top: 13pt;
}

.share-icons .count > span
{
        z-index: 1000;
        position: relative;
        top: -45px;
        float: left;
        display: block;
        border-radius: 4pt;
        background: #222;
        color: #fff;
        padding:0 5pt;
        line-height: 20pt;
	font-size:20pt;
        transition: transform .2s linear,background .2s ease,color .2s ease;
        transform: scale(1) translate3d(0,0,0);
}
.share-icons .list
{
	position: relative;
	bottom: 20px;
	right: 0;
	background: transparent;
}
.share-icons .list strong, .share-icons .list a
{
	position: relative;
	display: inline-block;
	width: 46pt;
	height: 46pt;
	font-size: 30pt;
	font-weight: normal;
	text-align: center;
	border-radius: 23pt;
	border:3px solid #ccc;
	background: #fff;
	color: #3fbad8;
	margin: 0 0 6pt;
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
	Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif,
	LastResort;
}
.share-icons .list strong
{
	cursor: default;
}
.share-icons .list a
{
	z-index: 500;
	background: #ccc;
	border:3px solid white;
	color: #999;
	transition: transform .2s linear,background .2s ease,color .2s ease;
	transform: scale(0) translate3d(0,0,0);
	opacity: 0;
}
.share-icons .list a:hover
{
	background: #aaa;
	border: 3px solid #eee;
	color: #fff;
	text-decoration: none;
}
.share-icons .list:hover strong span, .share-icons .list.hover strong span
{
	opacity: 1;
	transition-duration: .2s;
}
.share-icons .list:hover a, .share-icons .list.hover a
{
	transform: scale(1) translate3d(0,0,0);
	transition-duration: .1s,.2s,.2s;
	opacity: 1;
}

.share-icons .list a.selected {
	background: #333!important;
}

.current-reactions {
	margin-right: 5px;
	font-size: 15pt;
}

nav[uk-navbar] {
        height: 50px!important;
}

.navbar-container-header, nav[uk-navbar], nav[uk-navbar] > div {
        background:#222!important;
}
nav[uk-navbar] img {
        width: auto!important;
        height: auto!important;
}

dt {
        margin-right: 10px;
        font-size: 20pt;
}
dt > strong {
        font-size: 25pt;
        line-height: auto;
}

dd {
        margin-right: 10px;
        font-size: 20pt;
        line-height: auto;
}

